@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

body {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #070707;
}

svg {
  border: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

svg.swing {
  width: 100%;
  height: 100;
}

img.gradient {
  width: 50px;
  height: 50px;

  clip-path: url("#mask");
  background: linear-gradient(35deg, #70ceb6, #b7ce70, #ce7070, #b570ce, #707ace);
  background-size: 500% 500%;

  -webkit-animation: LogoGradient 13s ease infinite;
  -moz-animation: LogoGradient 13s ease infinite;
  animation: LogoGradient 13s ease infinite;
}

@-webkit-keyframes LogoGradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@-moz-keyframes LogoGradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}
@keyframes LogoGradient {
    0%{background-position:0% 91%}
    50%{background-position:100% 10%}
    100%{background-position:0% 91%}
}

header, footer {
  background-color: #070707;
  color: #F8F8F8;
  max-height: 700px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h1 {
  font-size: 4em;
  line-height: 0.9;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

div.quote {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 0;
}

img.profile-picture {
  width: 180px;
  height: 180px;
}

.community img.profile-picture {
  width: 100px;
  height: 100px;
}

section#team {
  background-color: #070707;

  color: #f8f8f8;
}

a.trippy {
  display: inline-block;

  background-color: rgba(0,0,0,0);
  border: 1px solid white;

  font-weight: 300;
  font-variant: all-small-caps;

  background: linear-gradient(35deg, #70ceb6, #b7ce70, #ce7070, #b570ce, #707ace);
  background-size: 500% 500%;

  -webkit-animation: LogoGradient 50s ease infinite;
  -moz-animation: LogoGradient 50s ease infinite;
  animation: LogoGradient 50s ease infinite;

  color: #f8f8f8;
  font-weight: 500;

  border-radius: 100px;
}

a.trippy.black {
  color: #070707;
  border: 0;
}

body.legal-notice ul {
  list-style: lower-alpha;
}
