@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #070707;
}

svg {
  border: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
}

svg.swing {
  width: 100%;
  height: 100;
}

span.brand {
  color: #A553A7;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 100px;
}

@media (min-width: 1024px) {
  span.brand {
    font-size: 30px;
  }
}

header, footer {
  background-color: #1E1E1E;
  color: #F8F8F8;
  max-height: 700px;
}

footer a {
  display: block;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

h1 {
  font-size: 4em;
  line-height: 0.9;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

div.quote {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 150px;
  line-height: 0;
}

section#team {
  background-color: #070707;

  color: #f8f8f8;
}

a.trippy {
  display: inline-block;

  background-color: rgba(0,0,0,0);
  border: 1px solid white;

  font-variant: all-small-caps;

  background-color: #A553A7;

  color: #f8f8f8;
  font-weight: 600;

  border-radius: 100px;
}

a.trippy.black {
  border: 0;
}

body.legal-notice ul {
  list-style: lower-alpha;
}

body.legal-notice footer ul {
  list-style: none;
}
